In [ ]:
import pandas as pd
import sys
import pymysql

In [ ]:
try: con = mariadb.connect( 
    user="22fa_gkang9", 
    password="o8sVqdtzqE", 
    host="dbase.cs.jhu.edu ", 
    port=3306, 
    database="22fa_gkang9_db" 
)
except mariadb.Error as ex: 
    print(f"An error occurred while connecting to MariaDB: {ex}") 
    sys.exit(1)