In [11]:
import pandas as pd
import numpy as np

In [12]:
#data = pd.read_csv('raw_data/twitchWatched.csv')         # Load csv file
data = pd.read_csv('raw_data/imdb_titleInfo.tsv', sep='\t')    # Load tsv file
# Open sql file for writing
f = open("insert_files/imdb_titleInfo_small.sql", "a")

iterate_all = False         # Set True to iterate through whole file, False to iterate through halft

/var/folders/83/761853p107sghgvs7qdbv_940000gn/T/ipykernel_47904/1383259529.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('raw_data/imdb_titleInfo.tsv', sep='\t')    # Load tsv file

In [13]:
# Remove special characters
data = data.replace('\\N', 'NULL')
data = data.replace(np.nan, 'NULL')
data = data.replace('\'', ' ')
data = data.replace(';', '.')
data = data.replace('nbd', 'NULL')


# Visualize first 4 rows
print(data.head(4))
"""
for index in range(data.shape[0]):
    row = data.iloc[index][4]
    try:
        data.iloc[index, 4] = row.replace("\"", "")
        data.iloc[index, 4] = row.replace("\'", "")
    except:
        row = None
"""

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock

  isAdult startYear endYear runtimeMinutes                    genres
0       0      1894    NULL              1         Documentary,Short
1       0      1892    NULL              5           Animation,Short
2       0      1892    NULL              4  Animation,Comedy,Romance
3       0      1892    NULL             12           Animation,Short

'\nfor index in range(data.shape[0]):\n    row = data.iloc[index][4]\n    try:\n        data.iloc[index, 4] = row.replace(""", "")\n        data.iloc[index, 4] = row.replace("\'", "")\n    except:\n        row = None\n'

In [14]:
# Write INSERT statements to .sql file. Uncomment one write statement at a time
if (iterate_all):
    for index, row in data.iterrows():
        if (index % 10000 == 0):
            print(index)
        #f.write('INSERT INTO TwitchGames VALUES(\"%s\", %s,  %s, %s, %s, \"%s\", %s, %s, %s);\n' % (row["Game"], row["Watch time (mins)"], row["Stream time (mins)"], row["Peak viewers"], row["Peak channels"], row["Streamers"], row["Average viewers"], row["Average channels"], row["Average viewer ratio"]))
        f.write('INSERT INTO TwitchWatched VALUES(\"%s\", %s, %s, %s, %s, %s, %s, %s, %s, \"%s\");\n' % (row["Channel"], row["Watch time (mins)"], row["Stream time (mins)"], row["Peak viewers"], row["Average viewers"], row["Followers"], row["Followers gained"], row["Partnered"], row["Mature"], row["Language"]))
        # f.write('INSERT INTO TwitchStats VALUES(\"%s\", %s,  %s, %s, %s, %s, %s, %s, %s, %s);\n' % (row["Month"], row["Hours watched (mins)"], row["Average viewers"], row["Peak viewers"], row["Average channels"], row["Peak channels"], row["Hours streamed (mins)"], row["Games streamed"], row["Active affiliates"], row["Active partners"]))
        #f.write('INSERT INTO Metacritic VALUES(\"%s\", %s, \"%s\", \"%s\", %s, \"%s\");\n' % (row["name"], row["meta_score"], row["platform"], row["release_date"], row["user_review"], row["summary"]))
        # f.write('INSERT INTO GameSales VALUES(\"%s\", \"%s\", \"%s\", \"%s\", \"%s\", %s, %s, %s, %s, %s, %s, \"%s\", \"%s\");\n' % (row["title"], row["console"], row["genre"], row["publisher"], row["developer"], row["vg_score"], row["user_score"], row["total_sales"], row["na_sales"], row["jp_sales"], row["other_sales"], row["release_date"], row["last_update"]) )
        
        #f.write("INSERT INTO Episodes VALUES (\"%s\", \"%s\", %s, %s);\n" % (row["tconst"], row["parentTconst"], row["seasonNumber"], row["episodeNumber"]))
        #f.write("INSERT INTO Principals VALUES (\"%s\", \"%s\", %s, \"%s\",\"%s\");\n" % (row["tconst"], row["nconst"], row["ordering"], row["job"], row["characters"]))
        #f.write("INSERT INTO Ratings VALUES (\"%s\", %s, %s);\n" % (row["tconst"], row["averageRating"], row["numVotes"]))
        #f.write("INSERT INTO Crew VALUES (\"%s\", \"%s\", \"%s\");\n" % (row["tconst"], row["directors"], row["writers"]))
        #f.write("INSERT INTO TitleTranslated VALUES (\"%s\", \"%s\", \"%s\", \"%s\", \"%s\", %s);\n" % (row["titleId"], row["title"], row["region"], row["language"], row["types"], row["isOriginalTitle"]))
        #f.write("INSERT INTO TitleInfo VALUES (\"%s\", \"%s\", \"%s\", \"%s\", %s, %s, %s, \"%s\");\n" % (row["tconst"], row["titleType"], row["primaryTitle"], row["originalTitle"], row["startYear"], row["endYear"], row["runtimeMinutes"], row["genres"]))
        #f.write("INSERT INTO Basics VALUES (\"%s\", \"%s\", %s, %s, \"%s\", \"%s\");\n" % (row["nconst"], row["primaryName"], row["birthYear"], row["deathYear"], row["primaryProfession"], row["knownForTitles"]))
    f.close()
else:
    for idx in range(int(data.shape[0] * 99/100), data.shape[0]):
        if (idx % 10000 == 0):
            print(idx)
        row = data.iloc[idx]
        #f.write("INSERT INTO Basics VALUES (\"%s\", \"%s\", %s, %s, \"%s\", \"%s\");\n" % (row["nconst"], row["primaryName"], row["birthYear"], row["deathYear"], row["primaryProfession"], row["knownForTitles"]))
        #f.write("INSERT INTO Episodes VALUES (\"%s\", \"%s\", %s, %s);\n" % (row["tconst"], row["parentTconst"], row["seasonNumber"], row["episodeNumber"]))
        #summart = row["characters"]
        #summart = summart.replace("\"", "")
        #summart = summart.replace("\'", "")
        #f.write("INSERT INTO Principals VALUES (\"%s\", \"%s\", %s, \"%s\",\"%s\");\n" % (row["tconst"], row["nconst"], row["ordering"], row["job"], summart))
        #f.write("INSERT INTO Ratings VALUES (\"%s\", %s, %s);\n" % (row["tconst"], row["averageRating"], row["numVotes"]))
        #f.write("INSERT INTO Crew VALUES (\"%s\", \"%s\", \"%s\");\n" % (row["tconst"], row["directors"], row["writers"]))
        #summart = row["title"]
        #summart = summart.replace("\"", "")
        #summart = summart.replace("\'", "")
        #f.write("INSERT INTO TitleTranslated VALUES (\"%s\", \"%s\", \"%s\", \"%s\", \"%s\", %s);\n" % (row["titleId"], summart, row["region"], row["language"], row["types"], row["isOriginalTitle"]))
        summart = row["primaryTitle"]
        summart = summart.replace("\"", "")
        summart = summart.replace("\'", "")
        summar = row["originalTitle"]
        summar = summar.replace("\"", "")
        summar = summar.replace("\'", "")
        f.write("INSERT INTO TitleInfo VALUES (\"%s\", \"%s\", \"%s\", \"%s\", %s, %s, %s, \"%s\");\n" % (row["tconst"], row["titleType"], summart, summar, row["startYear"], row["endYear"], row["runtimeMinutes"], row["genres"]))
        
    f.close()

9320000
9330000
9340000
9350000
9360000
9370000
9380000
9390000
9400000

In [15]:
f.close()